@CHARSET "UTF-8";
/* 
    Created on : Dec 24, 2014, 5:12:11 PM
    Author     : htamayo
*/
/* este snippet es para ajustar el font size del tema de primefaces, no funciona dentro del css*/
.ui-widget,.ui-widget .ui-widget{
        font-size: 125% !important;
        }

/* inicio de tags para las solapas horizontales */
#header{
	float:left;
	width:100%;
	background:#DAE0D2 url('bg.gif') repeat-x bottom;
	font-size:93%;
	line-height:normal;
	}
#header ul{
	margin:0;
	padding:10px 10px 0; 
	list-style:none;
	}
#header li{
	float:left;
	background:url('norm_left.gif') no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
	}
#header  a, #header strong, #header span{
	display:block;
	background:url('norm_right.gif') no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	}

#header #current{
	background-image:url('norm_left_on.gif');
	text-decoration:none;
	}

#header #current a{
	background-image:url('norm_right_on.gif');
	padding-bottom:5px;
	text-decoration:none;
	}
/* fin de tags para las solapas horizontales */

//div para centrar horizontalmente las tablas y otros objetos usados en formularios
.contenedor{
    position: relative;
    width: 100%;
}

.centrado{
    position: absolute;
    left: 400px;
    //width: 300px;
    background-color: #b0e0e6;
}

//formateo de dataTables utilizadas en formularios de captura de datos
.tablasData{
    margin: 0 auto;
    border-collapse: collapse;
}

.tablasData-header{
    text-align: center;
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #95bce2;
    padding: 10px;
}

.tablasData-fila-impar{
    text-align: center;
    background: none repeat scroll 0 0 #FFFF66;
    border-top:1px solid #000000;
}

.tablasData-fila-par{
    text-align: center;
    background: none repeat scroll 0 0 #CCFF99;
    border-top:1px solid #BBBBBB;
}

//sirve para centrar iconos en paginas principales
.tablas{
    margin: 0 auto;
    border: 0;
}



//centrar objetos dentro de un envoltorio, aun no funciona!
.centrarObjeto{
    display: block;
    text-align: center;
}
